@model DocumentManager.MVC.ViewModels.OutgoingDocumentTypeViewModel

@{
    ViewData["Title"] = "Thêm Loại công văn đi";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="OutgoingDocumentTypeName" class="control-label"></label>
                <input asp-for="OutgoingDocumentTypeName" class="form-control" />
                <span asp-validation-for="OutgoingDocumentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại Danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}